@model FMS.FrameWork.Result<ONS.Core.Entities.Users>
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/AfterLogin.cshtml";
}



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("ClientShowAll","ClientInfo")">Home</a><span class="sr-only">(current)</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav nav-pills">
                <li class=""><a href="@Url.Action("CollectionLog","ClientInfo")">Collections </a></li>

            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="@Url.Action("ClientForm","ClientInfo")">Add Client </a></li>

            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="@Url.Action("CostList","CostInfo")">Cost List </a></li>
                <li class=""><a href="@Url.Action("CreateCost","CostInfo")">New Cost </a></li>

            </ul>
            <ul class="nav navbar-nav nav-pills navbar-right">
                <li class=""><a href="@Url.Action("AdminProfile","ClientInfo")"><span class=" glyphicon glyphicon-user"></span> </a></li>

                <li class=""><a href="@Url.Action("Index","Home")"><span class=" glyphicon glyphicon-log-out"></span> </a></li>

            </ul>

        </div>
    </div>
</nav>



@if (ViewBag.msg == 1)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!!!</strong> <br />Changes Successfully Done.
        <br/>
       
            <a href="@Url.Action("ClientShowAll","ClientInfo")" class="btn btn-info btn-sm">OK</a>
        </div>


}

@using (Html.BeginForm("AdminProfile", "ClientInfo"))
{
    <fieldset>
        <div class="col-md-3"></div>




        <div class="col-md-6">


            <div class="form-group">
                <label for="UserName" class="col-md-3 control-label">User Name</label>
                <div class="col-md-9">
                    <input type="text" name="UserName" value="@Model.Data.UserName" class="form-control" id="UserNameId" placeholder="User Name">
                </div>
            </div>

            <div class="form-group">
                <label for="Password" class="col-md-3 control-label">Password</label>
                <div class="col-md-9">
                    <input type="text" name="Password" value="@Model.Data.Password" class="form-control" id="PasswordId" placeholder="Password">

                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-lg-9 col-lg-offset-3">
                    @Html.ActionLink("Cancle", "ClientShowAll", new { Controller = "ClientInfo", }, new { @class = "btn btn-warning" })


                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>

        </div>


        <div class="col-md-3"></div>
    </fieldset>
}

