@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="jumbotron">
    <h1 style="color: cadetblue">Open Network Solution</h1>
    <p class="lead">This is a Broadband Community . We serve best in the town . Be a member of our family and Enoy the Fastest internet of the town !!</p>
    <p><a href="@Url.Action("About","Home")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row" style="background-color:  aquamarine">
    <div class="col-md-3" style="background-color:khaki">
        <h1> &nbsp; 3 Mbps</h1>
        <h4>  &nbsp;   &nbsp;  &nbsp;  &nbsp; 800/ Month</h4>
        <p>
            - Unlimited usage policy<br />
            - 24/7 customer service<br />
            - Unmetered BDIX<br />
            - Unmetered Youtube<br />
            - Largest File Server <br />
        </p>
        <p><a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact Us &raquo;</a></p>
    </div>
    
    <div class="col-md-3" style="background-color: lightgreen">
        <h1> &nbsp; 5 Mbps </h1>
        <h4>  &nbsp;   &nbsp;  &nbsp;  &nbsp; 1000/ Month</h4>
        <p>
            - Unlimited usage policy<br />
            - 24/7 customer service<br />
            - Unmetered BDIX<br />
            - Unmetered Youtube<br />
            - Largest File Server <br />
        </p>
        <p><a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact Us &raquo;</a></p>
    </div>
    
    <div class="col-md-3" style="background-color: mediumaquamarine">
        <h1> &nbsp; 8 Mbps</h1>
        <h4>  &nbsp;   &nbsp;  &nbsp;  &nbsp; 1600/ Month</h4>
        <p>
            - Unlimited usage policy<br />
            - 24/7 customer service<br />
            - Unmetered BDIX<br />
            - Unmetered Youtube<br />
            - Largest File Server <br />
        </p>
        <p><a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact Us &raquo;</a></p>
    </div>
    
    <div class="col-md-3">
        <h1> &nbsp; 10 Mbps</h1>
        <h4>  &nbsp;   &nbsp;  &nbsp;  &nbsp; 2000/ Month</h4>
        <p>
            - Unlimited usage policy<br />
            - 24/7 customer service<br />
            - Unmetered BDIX<br />
            - Unmetered Youtube<br />
            - Largest File Server <br />
        </p>
        <p><a class="btn btn-info" href="@Url.Action("Contact","Home")">Contact Us &raquo;</a></p>
    </div>
   
</div>

