@model FMS.FrameWork.Result<List<ONS.Core.Entities.Employees>>
@{
    ViewBag.Title = "EmployeeList";
    Layout = "~/Views/Shared/AfterLogin.cshtml";
}


<head runat="server">
    <title>
        ShowAll
    </title>
    @section scripts
    {
        <script src="~/Scripts/jquery-1.11.2.js"></script>

        <link href="~/Content/dataTables.tableTools.2.2.4.css" rel="stylesheet" />
        <link href="~/Content/jquery.dataTables.min.1.10.7.css" rel="stylesheet" />
        <script src="~/Scripts/jquery.dataTable.min.1.10.7.js"></script>
        <script src="~/Scripts/jquery.dataTable.tabletools.min.2.2.4.js"></script>


        <script type="text/javascript">
            $(document).ready(function () {


                var table = $('#datatable').DataTable();
                var tableTools = new $.fn.dataTable.TableTools(table);
                $(tableTools.fnContainer()).insertBefore('#datatable_wrapper');
                $("#datatable_filter").hide();
                $("#div1").hide();
                $("#div2").hide();
                $("#div3").hide();

                $('#checkboxall').click(function () {
                    if ($(this).is(":checked")) {
                        $('.checkboxid').prop('checked', true);
                        $("#div1").show();
                        $("#div2").show();
                        $("#div3").show();
                    }

                    else {
                        $('.checkboxid').prop('checked', false);
                        $("#div1").hide();
                        $("#div2").hide();
                        $("#div3").hide();
                    }


                });
                $('.checkboxid').click(function () {

                    $("#div1").show();
                    $("#div2").show();
                    $("#div3").show();

                });

            });



        </script>

    }
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="active navbar-brand" href="@Url.Action("ClientShowAll","ClientInfo")">Home</a><span class="sr-only">(current)</span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
                <ul class="nav navbar-nav">
                    <li class=""><a href="@Url.Action("CollectionLog","ClientInfo")">Collections </a></li>
                    <li>
                        @*<a href="#">
                            <span class="badge">Total Client : </span>
                            <span class="badge">@ViewBag.totalemp</span>
                        </a>*@
                    </li>


                    @*<li>
                        <a class="btn  btn-success" data-toggle="modal" data-target=".bootstrapmodal">Balance</a>

                        <div class="modal fade bootstrapmodal">
                            <div class="modal-dialog">


                                <div class="modal-content">


                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close">
                                            <span>&times;</span>
                                        </button>


                                    </div>
                                    <div class="modal-title">

                                    </div>

                                    <div class="modal-body">

                                        <ul class="list-group">
                                            <li class="list-group-item">
                                                <span class="badge">@ViewBag.totalbalance</span><br />
                                                <span class="badge">@ViewBag.totalbalance1</span>
                                                Balance Is :
                                            </li>
                                            <li class="list-group-item">
                                                <span class="badge">@ViewBag.totaldue</span><br />
                                                <span class="badge">@ViewBag.totaldue1</span>
                                                Due Is:
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="modal-footer">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>*@

                    <li class=""><a href="@Url.Action("ClientForm","ClientInfo")">Add Client </a></li>

                </ul>


                <ul class="nav navbar-nav">
                    <li class=""><a href="@Url.Action("CostList","CostInfo")">Cost List </a></li>
                    <li class=""><a href="@Url.Action("CreateCost","CostInfo")">New Cost </a></li>
                    <li class=""><a href="@Url.Action("EmployeeList","Admin")">Employee List </a></li>
                    <li class=""><a href="@Url.Action("CreateEmployee","Admin")">New Employee </a></li>
                </ul>


                <ul class="navbar-form navbar-left" role="search">

                    @using (Html.BeginForm("EmployeeList", "Admin"))
                    {
                        <div class="form-group">
                            <input type="text" name="key1" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-info">Search</button>
                    }
                </ul>
            

                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="@Url.Action("AdminProfile","ClientInfo")"><span class=" glyphicon glyphicon-user"></span> </a></li>

                    <li class=""><a href="@Url.Action("Index","Home")"><span class=" glyphicon glyphicon-log-out"></span> </a></li>
                </ul>




            </div>
        </div>
    </nav>

    @if (ViewBag.msg == 1)
    {
        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong>  Select Some Row First.
        </div>
    }

    @using (Html.BeginForm("EmployeeList", "Admin"))
    {
       
             <div class="col-md-1">
                 <h4> Search:</h4>
             </div>
             <div class="col-md-2">
                 <select class="form-control" name="key1" id="AddressId">
                     <option>Address</option>
                     @foreach (var p in Model.Data)
                     {
                     <option>@p.PresentAddress</option>
}
                    
                 </select>
             </div>
             <div class="col-md-1">
                 <button type="submit" class="btn btn-info">Search</button>
             </div>
        

    }




    @using (Html.BeginForm("EmployeeList", "Admin"))
    {
        <div class="col-md-2">
            <select class="form-control" name="key1" id="PackageId">
                <option> Designation</option>
                @foreach (var p in Model.Data)
                {
                    <option>@p.Designation</option>
                }
            </select>
        </div>
        <div class="col-md-1">
            <button type="submit" class="btn btn-info">Search</button>
        </div>

    }


    @using (Html.BeginForm("EmployeeList", "Admin"))
    {
        <div class="col-md-2">

            <select class="form-control" name="key2" id="PackageId">
                <option> Year</option>
                <option>2018</option>
                <option>2017</option>
                <option>2016</option>
                <option>2015</option>
                <option>2014</option>
            </select>

        </div>

        <div class="col-md-2">


            <select class="form-control" name="key1" id="PackageId">
                <option> Month</option>
                <option>January</option>
                <option>February</option>
                <option>March</option>
                <option>April</option>
                <option>May</option>
                <option>June</option>
                <option>July</option>
                <option>August</option>
                <option>September</option>
                <option>October</option>
                <option>November</option>
                <option>December</option>
            </select>
        </div>

        <div class="col-md-1">
            <button type="submit" class="btn btn-info">Search</button>

        </div>
    }

    <br />

    <div class="container" style="margin:15px auto">
        @*<p><b>Select</b></p>
            <pre id="view-rows"></pre>
            <p><b>Pay All</b></p>
            <p><button class="btn btn-info"> Pay</button><br/></p>
            <br />*@
       @using (Html.BeginForm("PayAll", "CostInfo"))
       {

           <br />
           <br />
           <div class="col-md-3" id="div1">
               <input type="text" name="Amount" class="form-control" id="AmountId" placeholder="Amount">
           </div>
    <div class="col-md-1" id="div2">
        <input type="submit" class="btn btn-info" value=" Pay" onclick=" return confirm('Are You Sure ??') " />
    </div>
    <div class="col-md-8" id="div3">
        <input type="submit" class="btn btn-info" value="Full Pay" onclick=" return confirm('Are You Sure ??') " />
    </div>
           <br />
           <br />

           <table class="table table-striped table-hover " id="datatable">

               <thead>
                   <tr>
                       <th><input type="checkbox" id="checkboxall"></th>

                       <th>Id</th>
                       <th>Name</th>
                       <th>Email</th>
                       <th>Address</th>
                       <th>Mobile</th>
                       <th>Join Date</th>
                       <th>Designation</th>
                       <th>Salary</th>                     
                       <th>Due</th>                     
                       <th>Detail</th>
                  


                   </tr>
               </thead>
               <tbody>
                   @foreach (var p in Model.Data)
                   {

                       <tr class="success">
                           <td><input type="checkbox" class="checkboxid" name="EmployeeId" value=@p.EmployeeId></td>

                           <td>@p.EmployeeId</td>
                           <td>@p.EmployeeName</td>

                           <td>@p.Email</td>
                           <td>@p.PresentAddress</td>
                           <td>@p.Mobile</td>
                           <td>@p.JoinDate</td>
                           <td>@p.Designation</td>
                           <td>@p.Salary</td>
                           <td>@p.Due</td>
                           <td>
                               @Html.ActionLink("Details", "EmployeeDetail", new {Controller = "Admin", id = p.EmployeeId})
                           </td>
                          

                       </tr>

                   }

               </tbody>
           </table>
       }
        @*@Html.PagedListPager(Model, page => Url.Action("ClientShowAll", new { page, key1 = Request.QueryString["key1"], key2 = Request.QueryString["key2"] }))*@
    </div>
</body>

