@model FMS.FrameWork.Result<ONS.Core.Entities.Employees>
@{
    ViewBag.Title = "CreateEmployee";
    Layout = "~/Views/Shared/AfterLogin.cshtml";
}


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("ClientShowAll","ClientInfo")">Home</a><span class="sr-only">(current)</span>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav nav-pills">
                <li class=""><a href="@Url.Action("CollectionLog","ClientInfo")">Collections </a></li>

            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="@Url.Action("ClientForm","ClientInfo")">Add Client </a></li>

            </ul>
            <ul class="nav navbar-nav">
                <li class=""><a href="@Url.Action("CostList","CostInfo")">Cost List </a></li>
                <li class=""><a href="@Url.Action("CreateCost","CostInfo")">New Cost </a></li>
                <li class=""><a href="@Url.Action("EmployeeList","Admin")">Employee List </a></li>
                <li class=""><a href="@Url.Action("CreateEmployee","Admin")">New Employee </a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class=""><a href="@Url.Action("AdminProfile","ClientInfo")"><span class=" glyphicon glyphicon-user"></span> </a></li>

                <li class=""><a href="@Url.Action("Index","Home")"><span class=" glyphicon glyphicon-log-out"></span> </a></li>
            </ul>

        </div>
    </div>
</nav>

@*<div class="col-lg-2"></div>
    <div class="col-lg-10"></div>*@
   



    <fieldset>
    <div class="col-lg-3"></div>
    @using (Html.BeginForm("CreateEmployee", "Admin"))
    {
        <div class="col-lg-6">


            <input type="hidden" name="EmployeeId" value="@Model.Data.EmployeeId" />
            <div class="form-group">
                <label for="EmployeeName" class="col-lg-4 control-label">Employee Name</label>
                <div class="col-lg-8">
                    <input type="text" name="EmployeeName" value="@Model.Data.EmployeeName" class="form-control" id="EmployeeNameId" placeholder="Employee Name">
                    @Html.ValidationMessageFor(m => m.Data.EmployeeName)
                </div>
            </div>

            <div class="form-group">
                <label for="FatherName" class="col-lg-4 control-label">Father Name</label>
                <div class="col-lg-8">
                    <input type="text" name="FatherName" value="@Model.Data.FatherName" class="form-control" id="FatherNameId" placeholder="Father Name">
                    @Html.ValidationMessageFor(m => m.Data.FatherName)


                </div>
            </div>

            <div class="form-group">
                <label for="MotherName" class="col-lg-4 control-label">Mother Name</label>
                <div class="col-lg-8">
                    <input type="text" name="MotherName" class="form-control" value="@Model.Data.MotherName" id="MotherNameId" placeholder="Mother Name">
                    @Html.ValidationMessageFor(m => m.Data.MotherName)


                </div>
            </div>

            <div class="form-group">
                <label for="Email" class="col-lg-4 control-label">Email</label>
                <div class="col-lg-8">
                    <input type="text" name="Email" class="form-control" value="@Model.Data.Email " id="EmailId" placeholder="Email">
                    @Html.ValidationMessageFor(m => m.Data.Email)


                </div>
            </div>

            <div class="form-group">
                <label for="PresentAddress" class="col-lg-4 control-label">Present Address</label>
                <div class="col-lg-8">
                    <input type="text" name="PresentAddress" class="form-control" value="@Model.Data.PresentAddress" id="PresentAddressId" placeholder="Present Address">
                    @Html.ValidationMessageFor(m => m.Data.PresentAddress)


                </div>
            </div>

            <div class="form-group">
                <label for="PermanentAddress" class="col-lg-4 control-label">Permanent Address</label>
                <div class="col-lg-8">
                    <input type="text" name="PermanentAddress" class="form-control" value="@Model.Data.PermanentAddress" id="PermanentAddressId" placeholder="Permanent Address">
                    @Html.ValidationMessageFor(m => m.Data.PermanentAddress)


                </div>
            </div>

            <div class="form-group">
                <label for="Nid" class="col-lg-4 control-label">Nid</label>
                <div class="col-lg-8">
                    <input type="text" name="Nid" class="form-control" id="NidId" value="@Model.Data.Nid" placeholder="Nid">
                    @Html.ValidationMessageFor(m => m.Data.Nid)


                </div>
            </div>

            <div>
                <div class="form-group">
                    <label for="DOB" class="col-lg-4 control-label">Date Of Birth</label>
                    <div class="col-lg-8">
                        <input class="form-control" readonly="readonly" id="DOBId" name="DOB" value="@Model.Data.DOB" type="text" placeholder="Date of Brith">
                    </div>
                    @Html.ValidationMessageFor(m => m.Data.DOB)
                </div>

            </div>

            <div>
                <div class="form-group">
                    <label for="JoinDate" class="col-lg-4 control-label">Join Date</label>
                    <div class="col-lg-8">
                        <input class="form-control" readonly="readonly" id="JoinDateId" name="JoinDate" value="@Model.Data.JoinDate" type="text" placeholder="Date of Brith">
                    </div>
                    @Html.ValidationMessageFor(m => m.Data.JoinDate)
                </div>

            </div>



            <div class="form-group">
                <label for="Mobile" class="col-lg-4 control-label">Mobile</label>
                <div class="col-lg-8">
                    <input type="text" name="Mobile" value="@Model.Data.Mobile" class="form-control" id="MobileId" placeholder="Mobile">
                    @Html.ValidationMessageFor(m => m.Data.Mobile)


                </div>
            </div>

            <div class="form-group">
                <label for="Designation" class="col-lg-4 control-label">Designation </label>
                <div class="col-lg-8">
                    <input type="text" name="Designation" class="form-control" value="@Model.Data.Designation" id="DesignationId" placeholder="Designation">
                    @Html.ValidationMessageFor(m => m.Data.Designation)


                </div>
            </div>

            <div class="form-group">
                <label for="Salary" class="col-lg-4 control-label">Salary</label>
                <div class="col-lg-8">
                    <input type="text" name="Salary" class="form-control" value="@Model.Data.Salary" id="OthersId" placeholder="Salary">
                    @Html.ValidationMessageFor(m => m.Data.Salary)


                </div>
            </div>


            <div class="form-group">
                <label for="Due" class="col-lg-4 control-label">Due</label>
                <div class="col-lg-8">
                    <input type="text" name="Due" readonly="readonly" class="form-control" value="@Model.Data.Due" id="DueId" placeholder="Due">
                    @Html.ValidationMessageFor(m => m.Data.Due)


                </div>
            </div>


            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-lg-8 col-lg-offset-4">


                    <button type="submit" class="btn btn-primary">Save</button>

                    <a class="btn  btn-danger" data-toggle="modal" data-target=".bootstrapmodal">Delete</a>
                    <div class="modal fade bootstrapmodal">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">

                                    <button data-dismiss="modal" class="close">
                                        <span>&times;</span>
                                    </button>
                                    <p>Confirm!!</p>


                                </div>
                                <div class="modal-title">

                                </div>

                                <div class="modal-body">

                                    <p>Are You Sure You Want To Delete This User??</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                    @Html.ActionLink("Delete", "EmployeeDelete", new { Controller = "Admin", id = Model.Data.EmployeeId }, new { @class = "btn btn-danger" })


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    }

        
        <div class="col-lg-3">
        <div>
            <img src="~/DP/@Model.Data.Propic" alt="Paris" style="height: 250px; width: 250px; ">

        </div>


        @using (Html.BeginForm("Propicup", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {  <input type="hidden" name="id" value="@Model.Data.EmployeeId" />
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="btn btn-success" />

            }
    </div>

</fieldset>


